<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Waiting...</title>
		<!-- css -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/trans.css">
		<link rel="stylesheet" href="/bootstrap-progressbar-3.3.4.min.css">
		<style>
		  	.six-sec-ease-in-out {
			    -webkit-transition: width 3s ease-in-out;
			    -moz-transition: width 3s ease-in-out;
			    -ms-transition: width 3s ease-in-out;
			    -o-transition: width 3s ease-in-out;
			    transition: width 3s ease-in-out;
			}
  		</style>
	</head>
	<body>
		<!--nav begin-->
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">RpiCloud</a>
				</div>
			</div>
		</nav><!-- nav end -->
		
		<div class="container">
			<div>
				<h3>页面跳转中</h3>
				{% for message in get_flashed_messages() %}
    			<div class="alert alert-warning">
        			<button type="button" class="close" data-dismiss="alert">&times;</button>
        		{{ message }}
    			</div>
    			{% endfor %}

    			{% block page_content %}{% endblock %}
			</div>
			<div class="progress">
			    <div class="progress-bar progress-bar-striped active six-sec-ease-in-out" role="progressbar" data-transitiongoal="100"></div>
			</div>
			<div class="footer">
				<a id="a-trans" href="{{ url_for('auth.logout') }}">点我跳转</a>
			</div>
		</div>
		<!-- js -->
		<script src ='/static/js/jquery-1.12.2.min.js'></script>
		<script src ='/static/js/bootstrap.min.js'></script>
		<script src ='/static/js/trans.js'></script>
		<script src ='/static/js/bootstrap-progressbar.min.js'></script>
	</body>
</html>