.side{
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

#section1-right,#section2-right,#section3-right,#section4-right,#section5-right{
	display: none;
}

.dropdown{
	padding-top: 16%;
}

/*modal*/
.modal-dialog{
	padding-top: 10%;
}

.modal-content{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

.modal-body{
	width: 80%;
	margin: 0 auto;
}