html,body{
	width: 100%;
    margin:0px; 
	height: 100%;
	display: block;
}

.container{
	width:100%;
	height:100%;
	background: linear-gradient(#2894FF,#79FF79);
}

/*login*/

.form-signin{
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	max-width: 330px;/*居中*/
	position: relative;
	top: 20%;
}

.form-signin .form-signin-heading,
.form-signin .checkbox{
	text-align: center;
	margin-bottom: 10px;
}

.form-signin .checkbox{
	font-weight: normal;
}

.form-signin .form-control{
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
	overflow: hidden;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.form-signin input[type="text"]{
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.form-signin input[type="password"]{
	margin-bottom: 10px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.btn-register{
	position: relative;
	top: 5px;
	float: right;
}

.div-sign-in{
	padding: 15px;
	margin: 0 auto;
	max-width: 330px;/*居中*/
	position: relative;
	top: 20%;
}

/*modal*/

.register-container{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	min-width: 300px;
	min-height: 400px;
}

.register-body{
	width: 60%;
	margin: 0 auto;
}

/*footer*/

.footer{
	margin-left: -15px;
	text-align: center;
	width:100%;
	height: 20px;
	background-color: rgb(48, 48,48);
	position: fixed;
	bottom: 0;
}

.footer > p{
	float: right;
	font-size: 12px;
	color: white;
}