<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>404</title>
</head>
<body>
	<table height="100%" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td valign="middle" align="center">
					<a href="{{ url_for('main.index') }}">
						<img src="static/png/404.jpg">
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>